@media only screen and (max-width: 768px) {
    #about{

        display: block;
    }

    .leftSide,.rightSide{
        width: 100%;
        margin: 5% 0 !important;
    }
  }

  .rightSide img {
    
      width: 100%;
      border-radius: 20px;
      box-shadow: 20px 20px 0px 0px #FF9800;

  }

  .leftSide{
    margin: 0 5%;
  }

  #about{
    
    align-items: center;
  }

  