#catsimage{
    width: 100px;
}

#catslist{
    padding: 0 !important;
}

input {
  
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #cacaca;
  }
  

  div:first-child{
    text-align: center;
  }